{
  "require": {
    "silex/silex": ">=2.2",
    "doctrine/dbal": ">=2.5",
    "twig/twig": ">=2.4",
    "swiftmailer/swiftmailer": ">=6"
  },
  "autoload": {
    "psr-4": {
      "Svi\\": "vendor/svi/system/src",
      "Svi\\Base\\": "vendor/svi/base/src",
      "Svi\\Crud\\": "vendor/svi/crud/src",
      "Svi\\File\\": "vendor/svi/file/src",
      "Svi\\Mail\\": "vendor/svi/mail/src"
    }
  }
}